<div class="container">
  
  <img src="<%= @condo['imageUrl'] %>" alt="<%= @condo['name'] %>" width="500px">
  <h1><%= @condo["name"] %></h1>
  <small><%= @condo["id"] %></small>
  <h2><%= @condo['price'] %> - <%= @condo["priceCurrency"] %></h2>
  <p><%= @condo["lat"] %></p>
  <p><%= @condo["lng"] %></p>
</div>

